
body {
    background-color: rgb(226, 226, 226);
}

thead {
    background-color: transparent;
}

.table td {
    transition: .2s;
    cursor: pointer;
    border-radius: 8px;
}

.table td:hover{
    background-color: rgb(143, 143, 121);
    transform: translate(-5px, -5px);
}

.table {
    width: 80%;
    margin: 0 auto;
    justify-content: left;
    text-align: left;
}

.table-details {
    text-align: left;
}

.lista {
    text-align: center;
    padding: 1em;
    height: 100vh;
    background-color: rgb(204, 204, 204);
    
}

.detalhes {
    text-align: left;
    padding: 1em;
    height: 100vh;
    display: none;
    flex-direction: column;
}

img {
    border-radius: 100%;
    width: 8em;
}

.hd-card {
    display: flex;
    text-align: left;
}

.hd-info {
    padding-left: 1em;
   
}

.nome {
    font-weight: bold;
    font-size: xx-large;
}

.telefone {
    font-style: bold;
    font-size: x-large;
}

.cadastrar {
    display: none;
    color: white;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: rgb(97, 104, 110);
    padding: 1em;
    border-radius: 8px;
    width: 50%;
    text-align: center;
}

.editar {
    display: none;
    color: white;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: rgb(97, 104, 110);
    padding: 1em;
    border-radius: 8px;
    width: 50%;
    text-align: center;
}

.novo-btn {
  
    width: 2em;
    height: 2em;
    font-size: 2em;
    border: none;
    color: white;
    position: fixed;
    bottom: 5%;
    right: 5%;
    border-radius: 100%;
    background-color: rgb(85, 146, 24);
    transition: .2s;
}

.novo-btn:hover {
    background-color: rgb(73, 128, 18);
    transform: translate(-5px, -5px);
}

.cancelar-btn {
    background-color: rgb(175, 45, 45);
}
